<div class="corner-label">{{title}}</div>
<div *ngIf="isEditing" class="tree-item">
  <div class="name-text">
    <input type="text" pInputText [(ngModel)]="data.name"/>
  </div>
  <div class="control-buttons">
    <button pButton type="text" (click)="cancel()" label="Cancel"></button>
    <button pButton type="text" (click)="confirm()" label="Confirm"></button>
  </div>
</div>
<div *ngIf="!isEditing" class="tree-item">
  <div class="name-text">{{data.name}}</div>
  <div class="control-buttons">
    <button pButton type="text" (click)="setEditing()" label="Edit"></button>
    <add-speciality
      [node]="node"
      [parent]="{name:'faculty',value:{id:data.id}}"></add-speciality>
    <button pButton type="button"
            icon="fa-times" (click)="delete()"></button>
  </div>

</div>
