<div class="container">
  <h1>What u want know about?</h1>
  <input class="textarea" valign='middle'
            placeholder="ask question" pInputTextarea [(ngModel)]="question.title" rows="2" cols="50" wrap="physical">
  <div class="button-container">
    <div></div>
    <md-dialog #dialog (onClose)="confirmClose($event)">
      <md-dialog-title>Would you like to delete your debt?</md-dialog-title>
      <category-select></category-select>
      <md-dialog-actions cancel="Cancel" ok="Post" ></md-dialog-actions>
    </md-dialog>
    <button md-raised-button
            class="md-primary big md-raised-button"
            (click)="showDialog(dialog)">Ask
    </button>
    <md-slide-toggle [(ngModel)]="showDetails">
      Details
    </md-slide-toggle>


  </div>
  <div *ngIf="showDetails" class="editor-container">
    <div class="editor">
      <p-editor [(ngModel)]="question.comment" [style]="{'height':'450px', 'font-size':'inherit'}"></p-editor>

    </div>
  </div>
</div>


