<content>

<a md-button routerLink="/home" routerLinkActive="md-primary">Default Link</a>

<button md-raised-button color=’primary’>this is a magical button</button>
<md-input class="demo-full-width" placeholder="Company (disabled)" value="Google"></md-input>
<button md-button class="md-secondary">titlw</button>
  <a md-button routerLink="/home" routerLinkActive="md-primary">Default Link</a>
  <a md-button class="md-primary" routerLink="/about" routerLinkActive="md-primary">Primary Link</a>
  <a md-button routerLink="/about" routerLinkActive="md-primary">Primary Link</a>

  <button md-raised-button class="md-raised md-warn width100"> ripple</button>
<button md-raised-button class="md-raised md-primary">Primary</button>
<button md-raised-button class="md-raised md-primary">Disabled</button>
    </content>

