
<!--<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
        <a class="blog-nav-item" routerLink="/home" routerLinkActive="active">
            Home
        </a>
        <a class="blog-nav-item" routerLink="/admin" routerLinkActive="active">
            Admin
        </a>

        <a class="blog-nav-item" routerLink="/categories" routerLinkActive="active">
            Categories
        </a>

        <a class="blog-nav-item" routerLink="/questions" routerLinkActive="active">
            Questions
        </a>
        <a class="blog-nav-item" routerLink="/auth" routerLinkActive="active">
            Auth
        </a>
        <a class="blog-nav-item" routerLink="/about" routerLinkActive="active">
            About
        </a>
        <a class="blog-nav-item" routerLink="/bad" routerLinkActive="active">
            Bad link
        </a>
    </nav>

  </div>


</div>-->
<p-growl [value]="messages"></p-growl>

<div class="appbar">
  <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
  <div>
  <button pButton label="Ask the question" class="ask-the-question"></button>
  <button pButton class="notifications" icon="fa-eye" label="Notifications"></button>
  </div>
</div>
<router-outlet></router-outlet>



