
<div>
  <div class="sidenav"  mode="side" layout-padding>
    <nav>
      <div>
        <a routerLink="/home" routerLinkActive="active">
          <div class="md-2-line">
            Home
          </div>
        </a>
        <a routerLink="/admin" routerLinkActive="active">
          <div class="md-2-line">
            Admin
          </div>
        </a>


        <a routerLink="/categories" routerLinkActive="active">
          <div class="md-2-line">
            Categories
          </div>
        </a>

        <a routerLink="/questions" routerLinkActive="active">
          <div class="md-2-line">
            Questions
          </div>
        </a>
        <a routerLink="/auth" routerLinkActive="active">
          <div class="md-2-line">
            Auth
          </div>
        </a>
        <a routerLink="/about" routerLinkActive="active">
          <div class="md-2-line">
            About
          </div>
        </a>
        <a routerLink="/bad" routerLinkActive="active">
          <div class="md-2-line">
            Bad link
          </div>
        </a>
      </div>
    </nav>

  </div>

  <div class="padding">
    <router-outlet></router-outlet>
  </div>

</div>


