<button pButton type="button" icon="fa-plus" (click)="showForm()"></button>
<p-dialog header="{{title}}" [(visible)]="shouldShowForm"
          [draggable]=false
          showEffect="fade"
          [resizable]="false"
          [closeOnEscape]="false">
  <input type="text" pInputText [(ngModel)]="data.name"/>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="close()" label="Close"></button>
      <button type="button" pButton icon="fa-check" (click)="confirm()" label="Confirm"></button>
    </div>
  </footer>
</p-dialog>
